<!DOCTYPE html>
<html lang="fr" class="html">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width">
    {% block head %}
    {% endblock %}
</head>

<body class="body">
    <div id="main">
        <div id="header">
            <div class="title">Aire De Jeux</div>
            <div class="menu">
                <ul class="menu">
                    <li class="menu" onclick="location.href='/'" style="cursor: pointer">Home</li>
                    {% block menu %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        <div class="main_content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>

</html>