<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width">
    {% block head %}
    {% endblock %}
</head>

<body >
    <div id="main">
        <div id="header" class="highlight">Aire De Jeux</div>
        <div class="menu">
            <ul style="width:100%" class="menu">
                <li class="menu" onclick="location.href='/'" style="cursor: pointer">Home</li>
                {% block menu %}
                {% endblock %}
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>