{% extends "base.html" %}
{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

{% block menu %}
    <li class="menu" onclick="location.href='/creerAireDeJeux'" style="cursor: pointer" id="bt_creation">Ajouter</li>
{% endblock %}

{% block content %}
<div id="title">
    <div>Commune :</div>
    <div><input type="text" name="commune" onkeyup="showHint(this.value)" id="ville_input" value=""></div>
    <div id="hints"></div>
    <div><input type="hidden" name="key_ville" id="key_ville" value="" required></div>
</div>
<div id="map" class="center"></div>
<div id="list-aire-de-jeux">
</div>
<script>
    function showHint(str) {
        if (str.length < 3) {
            document.getElementById("hints").innerHTML = "";
            return;
        } else {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    json = xmlhttp.responseText;
                    data = JSON.parse(json);
                    var out = "";
                    var i;
                    template = "<button type=\"button\" id=\"%ID%\"" +
                        "onclick=\"hint('%nom%', '%CP%', '%key%', %lat%, %lon% )\"" +
                        "class=\"hint\">%nom% %CP%</button>"
                    for(i = 0; i < data["ville"].length; i++) {
                        new_button = template.replace(/%nom%/g, data["ville"][i].name);
                        new_button = new_button.replace(/%CP%/g, data["ville"][i].CP);
                        new_button = new_button.replace("%key%", data["ville"][i].key);
                        new_button = new_button.replace("%lat%", data["ville"][i].lat);
                        new_button = new_button.replace("%lon%", data["ville"][i].lon);
                        new_button = new_button.replace("%ID%", "hint_" + i.toString());
                        out += new_button;
                    }
                    document.getElementById("hints").innerHTML = out;
                }
            }
            xmlhttp.open("GET", "/ajouterAireDeJeux?q=" + str, true);
            xmlhttp.send();
        }
    }
    function hint(nom_ville, CP, key_ville, lat, lon) {
        var xmlhttp = new XMLHttpRequest();
        var data;
        var map = initialize(lat, lon);
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var json = xmlhttp.responseText;
                data = JSON.parse(json);
                var out = "";
                if (data.length > 0){
                    var i;
                    template = "<div class=\"aire-de-jeux\" onclick=\"location.href='\airedejeux/%keyAireDeJeux%';\" style=\"cursor: pointer;\">" +
                        "<div class=\"nom-aire-de-jeux\">" + "%indice% " +
                        "%nom%</div></div>";
                    for(i = 0;i < data.length; i++) {
                        newAireDeJeux = template.replace("%nom%", data[i].nom);
                        newAireDeJeux = newAireDeJeux.replace("%keyAireDeJeux%", data[i].indiceAireDeJeux);
                        newAireDeJeux = newAireDeJeux.replace("%indice%", (i+1).toString());
                        out += newAireDeJeux;
                        addMarker({ lat: data[i].lat, lng: data[i].lng}, map, i+1)
                    }
                } else {
                    out = "<div class=\"message\">Désolé mais il n'y a pas encore d'aire de jeux" +
                     "enregistré pour cette ville. Si vous en connaisez, vous pouvez les ajouter" +
                     "en cliquant le lien suivant</div>" +
                     "<p class=\"menu\" onclick=\"location.href='/creerAireDeJeux?keyVille=" + key_ville +
                     "'\" style=\"cursor: pointer\">Ajouter</p>";

                }
                document.getElementById("list-aire-de-jeux").innerHTML = out;
                document.getElementById("bt_creation").onclick = function() {
                     window.location.href= "/creerAireDeJeux?keyVille=" + key_ville ;
                }
            }
        }
        xmlhttp.open("GET", "/listAireDeJeux?keyVille=" + key_ville, true);
        xmlhttp.send();
        document.getElementById("ville_input").value = nom_ville;
        document.getElementById("hints").innerHTML = "";
    }
    function initialize(lat, lon) {
        var mapCanvas = document.getElementById("map");
        var myLatLng = {lat: lat, lng: lon};
         var styles =  [ { "stylers": [ { "saturation": 5 }, { "lightness": -5 },
        { "gamma": 1.16 }, { "hue": "#004cff" } ] } ];
        var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});

        var mapOption = {
            center: myLatLng,
            zoom: 12,
            mapTypeIds:[google.maps.MapTypeId.ROADMAP, 'map_style']
        }
        var map = new google.maps.Map(mapCanvas, mapOption);
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        return map;
    }
    function addMarker(location, map, i) {
        if (location.lat && location.lng) {
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                label: i.toString()
            });
        }
    }

</script>
{% endblock %}