{% extends "base.html" %}
{% import "macro.html" as macros %}
{% import "mapStyle.html" as mapStyle %}
{% block head %}
    <meta name="msvalidate.01" content="C13D965D94BE00F49BACD35519454320" />
    <title>Ou trouver des aire-de-jeux, recherche par ville</title>
    <meta name="description" content="Permet de rechercher les aire-de-jeux publics par ville, dans toute la France.
    Sur le principe des sites communautaires chaque'un peut y ajouter les places de jeux qu'il connaît déjà.">
{% endblock %}

{% block menu %}
    <li class="nav-item" style="cursor: pointer">
        <a href='{{ host }}/auth/créerAireDeJeux' id="bt_creation" class="nav-link">Ajouter</a>
    </li>
    <li class="nav-item" style="cursor: pointer">
        <a href='{{ host }}/aireDeJeux' class="nav-link">Liste Aire de jeux</a>
    </li>
{% endblock %}

{% block content %}
<div class="card mb-3">
    <h3 class="card-header bg-blue">
        Recherche des aire-de-jeux par Ville
    </h3>
    <div class="card-block">
        <div id="cherche_ville">
            {{ macros.select_ville() }}
        </div>
        <div class="map_home" id="map_home" style="display:none">
            <div id="debloquerMap" onclick="active_map();" style="visibility: hidden">débloquer</div>
            <div id="map"></div>
        </div>
    </div>
</div>
<div id="list-aire-de-jeux" class="card-deck">
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var map_ready = false;
    {{ mapStyle.script(15) }}
    function hint(nom_ville) {
        var xmlhttp = new XMLHttpRequest();
        var data;
        while (!map_ready) {
        }
        document.getElementById("map_home").style.display= "block"
        initialize(liste_ville[nom_ville].lat, liste_ville[nom_ville].lon,liste_ville[nom_ville].NWlat, liste_ville[nom_ville].NWlon, liste_ville[nom_ville].SElat,liste_ville[nom_ville].SElon);
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var json = xmlhttp.responseText;
                data = JSON.parse(json);
                var out = "";
                list_aire_de_jeux = [];
                if (data.length > 0){
                    var i;
                    template = "<a href=\"\aireDeJeux/%urlAireDeJeux%\" class=\"card mb-3\">" +
                            "<div  class=\"card-block\">" +
                            "<h4 class=\"card-title\">" + "%indice% " +
                            "%nom%</h4></div></a>";
                    for(i = 0;i < data.length; i++) {
                        newAireDeJeux = template.replace("%nom%", data[i].nom);
                        newAireDeJeux = newAireDeJeux.replace("%urlAireDeJeux%", data[i].url);
                        newAireDeJeux = newAireDeJeux.replace("%indice%", (i+1).toString());
                        out += newAireDeJeux;
                        if (data[i].coordonnees.lat) {
                            list_aire_de_jeux[list_aire_de_jeux.length] = [data[i].coordonnees, "{{ host }}", data[i].url, data[i].nom];
                        }
                    }
                    construction_a_pointer()
                } else {
                    out = "<div class=\"card-block\"><p class=\"card-text\">Désolé mais il n'y a pas encore d'aire de jeux" +
                     "enregistré pour cette ville. Si vous en connaissez, vous pouvez les ajouter" +
                     "en cliquant le lien suivant : </p>" +
                     "<div class=\"btn btn-primary\" onclick=\"location.href='/auth/créerAireDeJeux?keyVille=" + liste_ville[nom_ville].key +
                     "'\" style=\"cursor: pointer\">Ajouter</div></div>";

                }
                document.getElementById("list-aire-de-jeux").innerHTML = out;
                document.getElementById("bt_creation").href = "/auth/créerAireDeJeux?keyVille=" + liste_ville[nom_ville].key ;

            }
        }
        xmlhttp.open("GET", "/liste/AireDeJeux?keyVille=" + liste_ville[nom_ville].key, true);
        xmlhttp.send();
        document.getElementById("hints").innerHTML = "";
    }
    function mapReady() {
        map_ready = true;
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANWCzOy5sTaDwVJXZFeNJfopen73FrFdw&callback=mapReady">
</script>
{% endblock %}