{% extends "base.html" %}
{% block content %}
<div id="title">
    <div id="ville">Carvin</div>
</div>

<div id="list-aire-de-jeux">
    <div class="aire-de-jeux">
        <div class="nom-aire-de-jeux">
            Epinoy
        </div>
        <div class="score">
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
            </svg>
        </div>
    </div>
    <div class="aire-de-jeux">
        <div class="nom-aire-de-jeux">
            Epinoy
        </div>
        <div class="score">
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
            </svg>
        </div>
    </div>
    <div class="aire-de-jeux">
        <div class="nom-aire-de-jeux">
            Epinoy
        </div>
        <div class="score">
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
            </svg>
        </div>
    </div>
    <div class="aire-de-jeux">
        <div class="nom-aire-de-jeux">
            Epinoy
        </div>
        <div class="score">
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
            </svg>
            <svg width="22" height="22" class="stars">
                <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
            </svg>
        </div>
    </div>
</div>

{% endblock %}