{% extends "base.html" %}
{% block content %}
<div id="title" class="highlight">
    <div id="ville">{{ ville }}</div>
    <div>     -    </div>
    <div id="name">{{ aireDeJeux.nom }}</div>
</div>
<div id="content">
    <div id="stars">
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
        </svg>
    </div>
    <div id="detail">
        <div id="box-activitees">
            <div id="title-activitee" class="bigger highlight">Comoditées:</div>
            <div id="list-activitees">
                {% for activite in aireDeJeux.activites %}
                    <div class="activitee">{{ activite }}</div>
                {% endfor %}
            </div>
        </div>
        <div id="box-acces">
            <div id="title-accesibilite" class="bigger highlight">Accesibilite</div>
            <div id="description-accesibilte">{{ aireDeJeux.accesibilite }}</div>
        </div>
        <div id="horraire" class="bigger horizontal">
            <div class="inside">Horaire:</div><div class="inside">{{ aireDeJeux.horraires }}</div>
        </div>
        <div id="age" class="bigger horizontal">
            <div class="inside">Age:</div><div class="inside">{{ aireDeJeux.age }}</div>
        </div>
    </div>
    <img src="/img/Arbre01.jpg" width="250px" height="250px" class="image">
    <div id="description">
        <div class="bigger highlight">
            Déscription:
        </div>
        <p class="description">
            {{ aireDeJeux.description }}
        </p>
    </div>
    <div id="comentaires">
        <div class="bigger highlight">
            Comentaire(s):
        </div>
        {% for commentaire in listCommentaires %}
        <p class="comentaire">
            {{ commentaire.commentaire }}
        </p>
        {% endfor %}

    </div>
</div>
{% endblock %}