{% extends "base.html" %}
{% block content %}
<div id="title">
    <div id="ville">Carvin</div>
    <div>     -    </div>
    <div id="name">Ecole Epinoy</div>
</div>
<div id="content">
    <div id="stars">
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
        </svg>
    </div>
    <div id="box-activitees" class="highlight">
        <div id="title-activitee">Comoditées</div>
        <div id="list-activitees">
            <div class="activitee">tobogan</div>
            <div class="activitee">balançoire</div>
            <div class="activitee">table pick-nique</div>
            <div class="activitee">cabane</div>
            <div class="activitee">bac à sable</div>
            <div class="activitee"> </div>
            <div class="activitee"> </div>
            <div class="activitee"> </div>
        </div>
    </div>
    <img src="/img/Arbre01.jpg" width="200px" height="200px" class="image">
    <div id="description" class="highlight">
        Description:
        <p class="description">
            Formidable espace, très propre et surveillé.
        </p>
    </div>
    <div id="comentaires" class="highlight">
        Comentaire(s):
        <p class="comentaire">
            Formidable espace, très propre et surveillé.
        </p>
    </div>
</div>
{% endblock %}