{% extends "base.html" %}
{% block content %}
<div id="title">
    <div id="ville">Carvin</div>
    <div>     -    </div>
    <div id="name">Ecole Epinoy</div>
</div>
<div id="content">
    <div id="stars">
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
        </svg>
        <svg width="22" height="22" class="stars">
            <circle cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />
        </svg>
    </div>
    <div id="detail">
        <div id="box-activitees" class="highlight">
            <div id="title-activitee" class="bigger">Comoditées:</div>
            <div id="list-activitees">
                <div class="activitee">tobogan</div>
                <div class="activitee">balançoire</div>
                <div class="activitee">table pick-nique</div>
                <div class="activitee">cabane</div>
                <div class="activitee">bac à sable</div>
                <div class="activitee"> </div>
                <div class="activitee"> </div>
                <div class="activitee"> </div>
            </div>
        </div>
        <div id="box-acces" class="highlight">
            <div id="title-accesibilite" class="bigger">Accesibilté:</div>
            <div id="description-accesibilte">Parking à proximité, mais pas d'éclairage la nuit.</div>
        </div>
        <div id="horraire" class="highlight">
            Horaire:24h/24h
        </div>
        <div id="age" class="highlight">
            Age:4-10ans
        </div>
    </div>
    <img src="/img/Arbre01.jpg" width="250px" height="250px" class="image">
    <div id="description" class="highlight">
        <div class="bigger">
            Déscription:
        </div>
        <p class="description">
            Formidable espace, très propre et surveillé.
        </p>
    </div>
    <div id="comentaires" class="highlight">
        <div class="bigger">
            Comentaire(s):
        </div>
        <p class="comentaire">
            Formidable espace, très propre et surveillé.
        </p>
    </div>
</div>
{% endblock %}