{% extends "base.html" %}
{% import "macro.html" as macros %}
{% block head %}
{% endblock %}
{% block menu %}
    <li class="menu" style="cursor: pointer">
        <a href='/créerAireDeJeux'>Ajouter</a>
    </li>
{% endblock %}
{% block content %}
<div id="title" class="highlight title_detail">
    <div id="ville">Liste Aire-De-Jeux</div>
</div>
<div class="liste_departement">
    {% for departement in liste_departements %}
        <div class="departement">
            <a href="/aireDeJeux/{{ departement.nom }}">{{departement.nom}}: {{departement.nbr_aire_de_jeux}}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}