{% extends "base.html" %}
{% import "mapStyle.html" as mapStyle %}
{% block head %}
    <title>Ou trouver des aire-de-jeux, liste des aire-de-jeux pour le département
        {{ departement.lettre }}, {{ departement.numero}} </title>
    <meta name="description" content="Liste le nombre d'aire-de-jeux enregistrées par commune dans le département
       {{ departement.lettre }}, {{ departement }} ">
{% endblock %}
{% block menu %}
    <li class="nav-item" style="cursor: pointer">
        <a href='{{host}}/auth/créerAireDeJeux' class="nav-link">Ajouter</a>
    </li>
    <li class="nav-item" style="cursor: pointer">
        <a href='{{host}}/aireDeJeux' class="nav-link">Liste Aire de jeux</a>
    </li>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-block">
        <h1 class="card-title">
            <div id="ville">{{ departement.lettre }}</div>
        </h1>
        <div class="conteneur-map">
            <div id="map"></div>
        </div>
        <div id="debloquerMap" onclick="active_map();" style="visibility: hidden">débloquer</div>
    </div>
</div>

<div class="card-deck mt-4">
    {% for commune in liste_communes %}
        <div class="card" >
            <div class="card-block">
                <a href="{{host}}/aireDeJeux/{{ departement.numero }}/{{commune.nom}}" style="display: block">
                {{commune.nom}}: {{commune.nbr_aire_de_jeux}}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    {{ mapStyle.script(10) }}
    //creat the list to ba use for the markers
    {% for commune in liste_communes %}
        {% if commune.coordonnees.lat %}
            var my_latlng = {lat: {{ commune.coordonnees.lat }}, lng: {{ commune.coordonnees.lon }}};
            {% set text = commune.nom + ", aire-de-jeux: " + commune.nbr_aire_de_jeux|string %}
            var my_url = "{{ departement.numero + "/" + commune.nom }}"
            list_aire_de_jeux[list_aire_de_jeux.length]=[my_latlng, "{{ host }}", my_url, "{{ text }}"];
        {% endif %}
    {% endfor %}

    function initMap() {
        initialize({{ liste_communes[0].coordonnees.lat }}, {{ liste_communes[0].coordonnees.lon }}, {{ departement.NWcoordonnees.lat }}, {{ departement.NWcoordonnees.lon }}, {{ departement.SEcoordonnees.lat }}, {{ departement.SEcoordonnees.lon }} );
    }
</script>
<script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANWCzOy5sTaDwVJXZFeNJfopen73FrFdw&callback=initMap">
</script>
{% endblock %}