{% extends "base.html" %}
{% import "mapStyle.html" as mapStyle %}
{% block head %}
    <title>Ou trouver des aire-de-jeux, liste des aire-de-jeux pour le département
        {{ departement.lettre }}, {{ departement.numero}} </title>
    <meta name="description" content="Liste le nombre d'aire-de-jeux enregistrées par commune dans le département
       {{ departement.lettre }}, {{ departement }} ">
{% endblock %}
{% block menu %}
    <li class="menu" style="cursor: pointer">
        <a href='{{host}}/créerAireDeJeux'>Ajouter</a>
    </li>
    <li class="menu" style="cursor: pointer">
        <a href='{{host}}/aireDeJeux'>Liste Aire de jeux</a>
    </li>
{% endblock %}
{% block content %}
<h1 id="title" class="highlight title_detail">
    <div id="ville">{{ departement.lettre }}</div>
</h1>
<div class="conteneur-map">
    <div id="map"></div>
</div>
<div id="debloquerMap" onclick="active_map();" style="visibility: hidden">débloquer</div>
<div class="liste_communes">
    {% for commune in liste_communes %}
        <div class="commune" >
            <a href="{{host}}/aireDeJeux/{{ departement.numero }}/{{commune.nom}}">
                {{commune.nom}}: {{commune.nbr_aire_de_jeux}}</a>
        </div>
    {% endfor %}
    {% for i in range(5) %}
        <div class="commune"></div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    {{ mapStyle.script(10) }}
    function initMap() {
        initialize({{ liste_communes[0].coordonnees.lat }}, {{ liste_communes[0].coordonnees.lon }}, {{ departement.NWcoordonnees.lat }}, {{ departement.NWcoordonnees.lon }}, {{ departement.SEcoordonnees.lat }}, {{ departement.SEcoordonnees.lon }} );
        initMarker();
        console.log(bounds);
        map.fitBounds(bounds);
        google.maps.event.addListenerOnce(map, "idle", function() {
            map.setZoom(map.getZoom() + 1);
            });
    }
    function initMarker() {
        {% for commune in liste_communes %}
            {% if commune.coordonnees.lat %}
                {% set text = commune.nom + ", aire-de-jeux: " + commune.nbr_aire_de_jeux|string %}
                {{ mapStyle.addMarker(commune.coordonnees, host, departement.numero + "/" + commune.nom, text) }}
            {% endif %}
        {% endfor %}
    }
</script>
<script async defer
         src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>
{% endblock %}