{% extends "base.html" %}
{% import "mapStyle.html" as mapStyle %}
{% block head %}
    <title>Ou trouver des aire-de-jeux, liste des aire-de-jeux pour la commune de {{ commune.nom }}</title>
    <meta name="description" content="Liste le nombre d'aire-de-jeux enregistrées dans la commune de
    {{ commune.nom }}">
{% endblock %}
{% block menu %}
    <li class="menu" style="cursor: pointer">
        <a href='/créerAireDeJeux?keyVille={{ commune.urlsafeKey }}'>Ajouter</a>
    </li>
{% endblock %}
{% block content %}
<div id="title" class="highlight title_detail">
    <div id="ville"><a href="/aireDeJeux/{{ commune.departement }}">{{ departement }}</a></div>
    <div>{{ commune.nom }}</div>
</div>
<div class="conteneur-map">
    <div id="map"></div>
</div>
<div id="debloquerMap" onclick="active_map();" style="visibility: hidden">débloquer</div>
<div class="liste_communes">
    {% for aire_de_jeux in liste_aire_de_jeux %}
        <div class="commune">
            <a href="/aireDeJeux/{{ commune.departement }}/{{ commune.nom }}/{{ aire_de_jeux.nom }}">
                {{ aire_de_jeux.nom }}</a>
        </div>
    {% endfor %}
    {% for i in range(4) %}
        <div class="commune"></div>
    {% endfor %}
</div>
<script type="text/javascript">
    {{ mapStyle.script(commune.coordonnees, 15) }}
    function initMarker() {
        {% for aire_de_jeux in liste_aire_de_jeux %}
            {% if aire_de_jeux.coordonnees.lat %}
                {{ mapStyle.addMarker(aire_de_jeux.coordonnees, aire_de_jeux.url, aire_de_jeux.nom) }}
            {% endif %}
        {% endfor %}
    }

</script>
<script async defer
         src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>
{% endblock %}