{% macro photos(listImage, new_indice) -%}
    <div class="slide" id="slide" style="display: none">
        <div class="ratio23outside">
            <div class="ratio23inside">
                <svg height="22" width="18" class="left" onclick="previousPhoto()" id="previous_photo"
                     style="visibility: hidden">
                    <polygon points="17,1 1,11 17,21" style="fill:white;stroke:black;stroke-width:1" />
                </svg>
                <div class="img_outside">
                    <img src="" class="image" id="photo">
                </div>
                <svg height="22" width="18" class="right" onclick="nextPhoto()" id="next_photo"
                    style="visibility: hidden">
                    <polygon points="1,1 17,11 1,21" style="fill:white;stroke:black;stroke-width:1" />
                </svg>
            </div>
        </div>
    </div>
    <iframe src="/add_photo?indice={{ new_indice }}" onLoad="updatePhoto()" id="iframAddPhoto"></iframe>
    <script>
    var index_photo = 0;
    var listUrlImage = [];
    {% if listImage %}
        document.getElementById("slide").style.display='inline';
        {% for image in listImage %}
            listUrlImage.push("{{ image.photo_url }}");
        {% endfor %}
        {% if listImage|length > 1 %}
            document.getElementById("next_photo").style.visibility = "visible";
            var img = new Image();
            img.src = listUrlImage[index_photo] + "=s600"
            img.onload = function(){
                var img = new Image();
                img.src = listUrlImage[index_photo + 1] + "=s600";
            }
        {% endif %}
        document.getElementById("photo").src=listUrlImage[index_photo] + "=s600";
        document.getElementById("photo").style.visibility= "visible";
    {% endif %}
    function nextPhoto() {
        index_photo += 1;
        document.getElementById("photo").src=listUrlImage[index_photo] + "=s600";
        if (index_photo == listUrlImage.length - 1 ) {
            document.getElementById("next_photo").style.visibility = "hidden";
        } else {
            var img = new Image();
            img.src = listUrlImage[index_photo + 1] + "=s600";
        }
        document.getElementById("previous_photo").style.visibility = "visible";
    }
    function previousPhoto() {
        index_photo -= 1;
        document.getElementById("photo").src=listUrlImage[index_photo]+ "=s600";
        if (index_photo == 0) {
            document.getElementById("previous_photo").style.visibility = "hidden";
        }
        document.getElementById("next_photo").style.visibility = "visible";
    }
    var initialisation = true
    function updatePhoto() {
        if (initialisation) {
            initialisation = false
        } else {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    json = xmlhttp.responseText;
                    data = JSON.parse(json);
                    listUrlImage = [];
                    for(i=0; i<data.length; i++) {
                        listUrlImage.push(data[i]);
                    }
                    document.getElementById("photo").src=listUrlImage[0] + "=s600";
                    document.getElementById("photo").style.visibility= "visible";
                    document.getElementById("slide").style.display='inline';
                    if(listUrlImage.length > 1) {
                        document.getElementById("next_photo").style.visibility = "visible";
                    }
                }
            }
            var indice = "{{ new_indice }}";
            xmlhttp.open("GET", "/listeImage?q=" + indice, true);
            xmlhttp.send();
        }
    }
    </script>
{%- endmacro  %}
{% macro select_ville() -%}
    <p class="ville_title">Commune :</p>
    <div><input list="hints" name="commune" oninput="showHint(this.value)"
                id="ville_input" value=""></div>
    <datalist id="hints">
    </datalist>
    <script>
        var liste_ville = {};
        function showHint(str) {
            if (str in liste_ville) {
                hint(str);
            }
            else {
                if (str.length < 3) {
                    document.getElementById("hints").innerHTML = "";
                    return;
                } else {
                    var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function() {
                        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            json = xmlhttp.responseText;
                            liste_ville = JSON.parse(json);
                            var out = "";
                            template = "<option value=\"%ville%\">";
                            for (nomVille in liste_ville) {
                                new_data = template.replace(/%ville%/g, nomVille);
                                out += new_data;
                            }
                            document.getElementById("hints").innerHTML = out;
                        }
                    }
                    xmlhttp.open("GET", "/listeVille?q=" + str, true);
                    xmlhttp.send();
                }
            }
        }
    </script>
{%- endmacro %}