{% macro script(centre_carte, large) -%}
var styles =  [ { "stylers": [ { "saturation": 5 },
                                   { "lightness": -5 },
                                   { "gamma": 1.16 },
                                   { "hue": "#004cff" } ] } ,
                    { "featureType": "poi.park",
                      "stylers": [ { "hue": "#3bff00" } ] }];
var map;
var bounds;
var info_window;

function initialize(lat, lon, NWlat, NWlon, SElat, SElon) {
    var mapCanvas = document.getElementById("map");
    var myLatLng = {lat: lat, lng: lon};
    var styledMap = new google.maps.StyledMapType(styles,
            {name: "Styled Map"});
    var mapOption = {
        center: myLatLng,
        streetViewControl: false,
        scrollwheel: true,
        draggable: true,
        zoom: {{ large }},
        mapTypeIds:[google.maps.MapTypeId.ROADMAP, 'map_style']
    };
    map = new google.maps.Map(mapCanvas, mapOption);
    bounds = new google.maps.LatLngBounds();
    var NWLatLng = {lat: NWlat, lng: NWlon};
    var SELatLng = {lat: SElat, lng: SElon};
    bounds.extend(new google.maps.LatLng(NWLatLng));
    bounds.extend(new google.maps.LatLng(SELatLng));
    info_window = new google.maps.InfoWindow()
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
    if (screen.width<700) {
        map.setOptions({ scrollwheel: false });
        map.setOptions({ draggable: false });
        document.getElementById("debloquerMap").style.visibility = "visible";
    }
    return map;
}

{% if centre_carte != "None" %}
function initMap(centre_carte) {
    initialize({{ centre_carte.lat }},{{ centre_carte.lon }});
    initMarker();
    map.fitBounds(bounds);
}
{% endif %}
function active_map() {
    map.setOptions({ scrollwheel: true, draggable: true});
    document.getElementById("debloquerMap").style.background = "grey";
}
var nbColonne = 2;
var nbLigne = 2;
var liste_marqueur = [];
function addMarker(position, host, url, nom) {
    var marker = new google.maps.Marker({
        position: position,
        map: map,
        title: nom
    });
    var contentString = "<div><a href=\"" + host + "/aireDeJeux/" + url + "\" >" +
                        nom + "</a></div>"
    marker.addListener('click', function() {
        info_window.setContent(contentString)
        info_window.open(map, marker);
    });
}

{%- endmacro  %}

{% macro addMarker(position, host, url, nom) -%}
    var myLatLng = {lat: {{ position.lat }}, lng: {{ position.lon }}};
    addMarker(myLatLng,"{{ host }}", "{{ url }}", "{{ nom }}");
{%- endmacro %}