{% extends "base.html" %}
{% import "macro.html" as macros %}
{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}
{% block content %}
    <form action="/modifier/{{ aireDeJeux.indice|e }}" enctype="multipart/form-data" method="post">
        <input type="submit" value="Submit">
        <div class="contenant">
            <div class="contenue">
                Nom de l'aire de jeux : <br>
                <div><input type="text" name="nom_aire_de_jeux" id="nom" value="{{aireDeJeux.nom|e}}" required></div>
                Commune : <br>
                <div><input type="text" name="commune" onkeyup="showHint(this.value)" id="ville_input" value="{{ville.nom|e}}" readonly></div>
                CP : <br>
                <div><input type="text" name="CP" id="CP" value="{{ville.CP|e}}" readonly></div>
                coordonnees :
                <div>
                    latitude: <input type="text" name="lat" id="lat" readonly value="{{ aireDeJeux.coordonnees.lat }}"><br>
                    longitude: <input type="text" name="lng" id="lng" readonly value="{{ aireDeJeux.coordonnees.lon }}">
                </div>
                score : <br>
                <div id="stars">
                {% for i in range(5) %}
                    <svg width="22" height="22" class="stars" onclick="newScore({{ i }})">
                        {% if aireDeJeux.score and aireDeJeux.score > i %}
                            <circle id="star_{{ i }}" cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="yellow" />{{i}}
                        {% else %}
                            <circle id="star_{{ i }}" cx="11" cy="11" r="10" stroke="green" stroke-width="1" fill="grey" />{{i}}
                        {% endif %}
                    </svg>
                {% endfor %}
                </div>
                <div><input type="number" name="score" id="score" value=0 hidden></div>
                horaire :
                <div><input type="text" name="horaire" value="{{aireDeJeux.horaires|e if aireDeJeux.horaires|e != 'None' }}"></div>
                tranche d'age:
                <div><input type="text" name="age" value="{{aireDeJeux.age|e if aireDeJeux.age != 'None' }}"></div>
            </div>
            <div class="contenue">
                <div id="map"></div>
                {{ macros.photos(listImage, aireDeJeux.indice) }}
            </div>
        </div>
        accéssibilité :
        <div><textarea name="acces" id="acces" >{{ aireDeJeux.accesibilite|e if aireDeJeux.accesibilite|e != "None" }}</textarea></div>
        activités : Entrez une liste des activités séparées par une virgule<br>
        <div><textarea name="activites" class="box" >{{ aireDeJeux.activites|join(', ') }}</textarea></div>
        description : <br>
        <div><textarea name="description" class="box">{{ aireDeJeux.description|e if aireDeJeux.description|e != "None" }}</textarea></div>
        commentaire : <br>
        <div><textarea name="commentaire" class="box"></textarea></div>
        <input type="submit" value="Submit">
    </form>
    <script>
    {% if aireDeJeux.coordonnees.lat %}
        initialize( {{aireDeJeux.coordonnees.lat }}, {{ aireDeJeux.coordonnees.lon }} );
    {% else %}
        initialize( {{ville.coordonnees.lat }}, {{ ville.coordonnees.lon }} );
    {% endif %}
    function initialize(lat, lon) {
        var mapCanvas = document.getElementById("map");
        var myLatLng = {lat: lat, lng: lon};
        var styles =  [ { "stylers": [ { "saturation": 5 }, { "lightness": -5 },
        { "gamma": 1.16 }, { "hue": "#004cff" } ] } ];
        var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});

        var mapOption = {
            center: myLatLng,
            zoom: 12,
            mapTypeIds:[google.maps.MapTypeId.ROADMAP, 'map_style']
        }
        var map = new google.maps.Map(mapCanvas, mapOption);
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!',
            draggable: true,
        });
        marker.addListener('dragend', function() {
            map.setCenter(marker.getPosition());
            document.getElementById("lat").value = marker.getPosition().lat();
            document.getElementById("lng").value = marker.getPosition().lng();
        });
        google.maps.event.addListener(map, 'dblclick', function(event) {
            placeMarker(marker, event.latLng);
        });
    }
    function placeMarker(marker, location) {
        marker.setPosition(location);
        document.getElementById("lat").value = marker.getPosition().lat();
        document.getElementById("lng").value = marker.getPosition().lng();
    }
    function newScore(score) {
        document.getElementById("score").value=score+1;
        for(i=0; i<5 ; i++ ){

            if(i<=score) {
                document.getElementById("star_" + i.toString()).setAttribute("fill","yellow");

            } else {
                document.getElementById("star_" + i.toString()).setAttribute("fill","grey");
            }
        }
    }
    </script>

{% endblock %}