.html {
    background-color: #e3f2fd;
    }
.highlight {
    background-color: #2196f3;
    color: white;
}
a {
    color: inherit;
    text-decoration: none;
    }
html {
    width: 100%;
    }
a:hover {
    color: #1565c0;
    }
.bigger {
    font-size: 1.5em;
    padding: 6px;
    }

.body{
    width : 100%;
    margin: 0px;
    min-height: 100%;
    }

#main {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    }

#header {
    font-family: "";
    width : 100%;
    max-height: 15%;
    text-align: center;
    font-size: 3em;
    box-shadow : 0em 0.1em 0.1em #888888;
    background-color: #2196f3;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    color: #ffffff;
}

.title {
    margin : 1em 1em 0.2em 0.2em;
    }

div.menu{
    font-size:0.5em;
    margin: 0em 0em 0.2em 0.2em;
}

ul.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    margin : 0px 0px 0em 0px ;
    padding : 0px;
}

li.menu, p.menu {
    float:left;
    display: inline;
    text-align: center;
    color: #ffffff;
    margin : 0px 2em 0px 0px;
    }

li.menu:hover {
    color: #1565c0;
    }

#cherche_ville {
    display:flex;
    font-size:2em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    flex-wrap: wrap;
}
.select_ville {
    display:flex;
    }
.main_content {
    background-color: white;
    width:80%;
    min-width:300px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    box-shadow: 0em 0.2em 0.2em #888888
    }

.ville_title {
    margin-right: 1em;
    }
#ville_input {
    padding-right: 1em;
    font-size: 0.8em;
    max-width: 10em;
    }

.title_detail {
    font-size: 2em;
    color: white;
    padding: 0.2em;
    }

#name {
    padding-left:5px;
    width:inherit;
}

#content {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    flex-direction:row;
    }

#stars {
    display:flex;
    height:22px;
    width:100%;
    justify-content:center;
    padding:1em 0em 1em 0em;
    }

.stars {
    padding:2px
    }

#box-activitees {
    flex:1 1 100%;
    }

#list-activitees {
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    flex-grow:1;
    }

.activitee {
    width:90px;
    flex-grow:1;
    margin:1px 5px;
    }


#description{
    flex:1 1 300px;
    }

#commentaires{
    flex:1 1 300px;
    }

.commentaire,.description,#list-activitees,#description-accessibilte{
    padding-left: 10px;
    min-height: 50px;
    }
.input_activites {
    display: flex;
    flex-flow:row wrap;
    flex-direction:row;
    }
div.activite {
    flex: 1 1;
    min-width: 8em;
    }
.box {
    box-shadow: 0.3em 0.5em 0.5em 0.2em #888888;
    margin: 1em;
    }
.input_box {
    box-shadow: 0.3em 0.5em 0.5em 0.2em #888888;
    margin: 1em;
    width: 90%;
    min-height:5em;
    }
.map_home {
    height:300px;
    padding-bottom: 2em;
    }

#map {
    width: 100%;
    height: 100%;
    z-index: 3;
    }
#debloquerMap {
    padding: 0.5em;
    background-color: #2196f3;
    color: white;
    margin-right: 1em;
    box-shadow: 0.3em 0.3em 0.2em #888888;
    float: right;
    }
.contenant {
    display : flex;
    width : 100%;
    flex-flow : row wrap;
    padding: 0em;
    margin: 0px;
    }

.contenue {
    flex : 1 1 250px;
    padding : 0px;
    margin : 0px;
    }

.aire-de-jeux, .blanc-aire-de-jeux {
    padding: 5px;
    margin : 5px;
    flex: 1 1 100px;
    }

.blanc-aire-de-jeux{
    border-style: solid;
    border-color: white;
    }

.aire-de-jeux {
    border-style: solid;
    height : 50px;
    }

.aire-de-jeux:hover {
    background-color: #64b5f6;
    }

#list-aire-de-jeux {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    }

.horizontal {
    display: flex;
    }
.inside {
    flex: 1 1 50px;
    }
.slide {
    width:100%;
    }
.ratio23outside {
    position:relative;
    padding-top: 66%;
    height:0px;
    margin-bottom:1em;
    z-index: 2;
    }
.ratio23inside {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items:center;
    max-height:100%;
    z-index: 2;    }
.img_outside {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    }
.image{
    height: 100%;
    z-index: 2;
    }
.right {
    position:absolute;
    right: 2px;
    padding-top:30%;
    z-index:3;
    }
.left {
    position:absolute;
    left: 0;
    padding-top:30%;
    z-index:3;
    }
#iframAddPhoto {
    border: none;
    width: 100%;
    height: 4em;
    }
#iframAddComment {
    border: none;
    width: 100%;
    }
.center {
    flex: 1 1;
    }
.plus {
    padding: 0px 6px;
    margin-right: 0.5em;
    background-color: #90caf9;
    font-weight: bold;
    box-shadow: 0.2em 0.2em 0.1em #1565c0;
    color: white;
    }
.plus:hover {
    color: #1565c0;
    }
p {
    margin: 0.2em 0em 0.2em 0.2em;
    }
input {
    margin: 0.2em 0em 0.2em 1em;
    }
.submit_bt {
    background-color: #1565c0;
    box-shadow: 0.2em 0.2em 0.1em #888888;
    color: white;
    border: none;
    float: left;
    }
.submit_bt:hover {
    color: #64b5f6;
    }
.wide {
    width: 100%
    }
.liste_departement, .liste_communes{
    display:flex;
    flex-flow:row wrap;
    flex-direction:row;
    }
.departement, .commune{
    flex : 1 1;
    font-size: 1.5em;
    padding: 0.2em;
    min-width: 13em;
    }
.vide {
    color: grey;
    }
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
.ajouter {
    padding: 0.2em;
    margin: 0.2em;
    box-shadow: 0.2em 0.2em 0.1em #888888;
    background-color: #1565c0;
    color: white;
    }
.conteneur-map {
    height: 400px;
    display: flex;
    }

@media only screen and (max-width: 768px) {
    .title {
        margin : 0.2em 1em 0.2em 0.2em;
    }
    #header{
        font-size: 1.5em;
        }
    div.menu{
        font-size: 0.8em;
        }
    .main_content {
        width: 100%;
        }
    .box {
        margin:1em 0em 1em 0em;
        width: 100%;
        }
    .bigger {
        font-size: 1em;
        }
    .title_detail {
        font-size: 1.5em;
        }
    #title {
        display: flex;
        justify-content: space-between;
        }
    #stars {
        padding:0em 0em 0.2em 0em
        }
    }